version: "3.8"

services:
  cerbos:
    container_name: my-cerbos-container
    image: ghcr.io/cerbos/cerbos:0.34.0
    ports:
      - "3592:3592"
    volumes:
      - ./policies:/policies:ro
    restart: unless-stopped
