services:
  redis-server:
    image: redis:latest
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: >
      redis-server --save 20 1 --loglevel warning --requirepass ${REDIS_PASSWORD}

volumes:
  redis_data:
    driver: local
